{% load static %}
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>SIPEL-SA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      rel="stylesheet"
      href="{% static 'main/lib/animate/animate.min.css' %}"
    />
    <link
      href="{% static 'main/lib/lightbox/css/lightbox.min.css' %}"
      rel="stylesheet"
    />
    <link
      href="{% static 'main/lib/owlcarousel/assets/owl.carousel.min.css' %}"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'main/css/bootstrap.min.css' %}" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="{% static 'main/css/style.css' %}" rel="stylesheet" />
  </head>

  <body>
    <!-- Spinner Start -->
    <div
      id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
    >
      <div
        class="spinner-border text-primary"
        style="width: 3rem; height: 3rem"
        role="status"
      >
        <span class="sr-only">Chargement...</span>
      </div>
    </div>
    <!-- Spinner End -->

    <!-- Topbar Start -->
    <div class="container-fluid topbar bg-light px-5 d-none d-lg-block">
      <div class="row gx-0 align-items-center">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
          <div class="d-flex flex-wrap">
            <a href="#" class="text-muted small me-4"
              ><i class="fas fa-map-marker-alt text-primary me-2"></i> Cocody -
              Riviera 3, derrière la Paroise Sainte Famille</a
            >
            <a href="tel:+01234567890" class="text-muted small me-4"
              ><i class="fas fa-phone-alt text-primary me-2"></i>+225 07 68 15
              82 26</a
            >
            <a href="mailto:example@gmail.com" class="text-muted small me-0"
              ><i class="fas fa-envelope text-primary me-2"></i
              >infos@sipel-sa.com</a
            >
          </div>
        </div>
        <div class="col-lg-4 text-center text-lg-end">
          <div class="d-inline-flex align-items-center" style="height: 45px">
            <div class="dropdown">
              <span style="color: #f49d37">SIPEL</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Topbar End -->

    <!-- Navbar & Hero Start -->
    <div class="container-fluid position-relative p-0">
      <nav
        class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0"
      >
        <a href="" class="navbar-brand p-0">
          <h1 class="text-acc" style="color: #f49d37">SIPEL-SA</h1>
          <!-- <img src="img/logo.png" alt="Logo"> -->
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
        >
          <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto py-0">
            <a href="index.html" class="nav-item nav-link active">Accueil</a>
            <a href="#about" class="nav-item nav-link">Apropos</a>
            <a href="#service" class="nav-item nav-link">Services</a>

            <a href="/app/src/pages/contact.html" class="nav-item nav-link"
              >Contacts</a
            >
          </div>
        </div>
      </nav>

      <!-- Carousel Start -->
      <div class="header-carousel owl-carousel">
        <div class="header-carousel-item">
          <img
            src="{% static 'main/images/image_test2.webp' %}"
            class="img-fluid w-100"
            alt="Image"
          />
          <div class="carousel-caption">
            <div class="container">
              <div class="row g-5">
                <div class="col-12 animated fadeInLeft">
                  <div class="text-center">
                    <h4 class="text-uppercase fw-bold mb-4">
                      Bienvenue chez SIPEL
                    </h4>
                    <h1 class="display-4 text-uppercase text-white mb-4">
                      La Référence dans Toute Son Expertise
                    </h1>
                    <p class="mb-5 fs-5">
                      Chez SIPEL, nous transformons vos idées en réalité grâce à
                      notre expertise inégalée et notre passion pour
                      l'innovation. Que ce soit pour des solutions
                      technologiques avancées, des services de conseil
                      stratégique ou des projets sur mesure, notre équipe
                      d'experts est dédiée à votre succès. Découvrez comment
                      nous pouvons propulser votre entreprise vers de nouveaux
                      sommets.
                    </p>
                    <div
                      class="d-flex justify-content-center flex-shrink-0 mb-4"
                    >
                      <a
                        class="btn btn-light rounded-pill py-3 px-4 px-md-5 me-2"
                        href="#"
                        ><i class="fas fa-play-circle me-2"></i>savoir +</a
                      >
                    </div>
                    <div
                      class="d-flex align-items-center justify-content-center"
                    >
                      <div class="d-flex justify-content-end ms-2">
                        <a
                          class="btn btn-md-square btn-light rounded-circle me-2"
                          href=""
                          ><i class="fab fa-facebook-f"></i
                        ></a>

                        <a
                          class="btn btn-md-square btn-light rounded-circle ms-2"
                          href=""
                          ><i class="fab fa-linkedin-in"></i
                        ></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-carousel-item">
          <img
            src="{% static 'main/images/image_test.jpg' %}"
            class="img-fluid w-100"
            alt="Image"
          />
          <div class="carousel-caption">
            <div class="container">
              <div class="row g-5">
                <div class="col-12 animated fadeInUp">
                  <div class="text-center">
                    <h4 class="text-uppercase fw-bold mb-4">
                      BIENVENUE À SIPEL
                    </h4>
                    <h1 class="display-4 text-uppercase text-white mb-4">
                      PLUS DE SATISFACTION
                    </h1>
                    <p class="mb-5 fs-5">
                      Chez SIPEL, votre satisfaction est notre priorité. Nous
                      nous engageons à offrir des solutions sur mesure qui
                      répondent parfaitement à vos besoins. Grâce à notre
                      expertise et notre dévouement, nous garantissons des
                      résultats qui dépassent vos attentes. Découvrez notre
                      gamme complète de services et voyez comment nous pouvons
                      vous aider à atteindre vos objectifs.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Carousel End -->
    </div>
    <!-- Navbar -->
    <!-- DG_words start -->
    <h1 class="text_titre">Mot du Directeur Général</h1>
    <div class="director">
      <div class="director_l">
        Nous sommes ravis de vous accueillir sur notre site. Notre mission est
        de transformer vos idées en réalité grâce à notre expertise et notre
        passion pour l'innovation. Explorez nos services et découvrez comment
        nous pouvons vous aider à atteindre vos objectifs. N'hésitez pas à nous
        contacter pour toute question. Merci de votre visite.
      </div>
      <div class="director_r">
        <img src="{% static 'main/images/dg.jpg' %}" />
        <h4>mr le directeur</h4>
      </div>
    </div>

    <!-- DG_words end -->

    <!-- Abaout Start -->
    <h1 class="text_titre">Apropos</h1>
    <div class="container-fluid about py-5">
      <div class="container py-5">
        <div class="row g-5 align-items-center">
          <div class="col-xl-7 wow fadeInLeft" data-wow-delay="0.2s">
            <div>
              <h4 class="text-primary">Qui sommes-nous ?</h4>
              <h1 class="display-5 mb-4">Venez saisir cette oportunité</h1>
              <p class="mb-4">
                Nous sommes une société spécialisée dans le domaine de
                l'installation de l'électricité de la plombérie ainsi que de la
                sécurité incendie
              </p>
              <div class="row g-4">
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <div class="d-flex">
                    <div>
                      <i class="fas fa-lightbulb fa-3x text-primary"></i>
                    </div>
                    <div class="ms-4">
                      <h4>Conseil aux entreprises</h4>
                      <p>Nous choisir, le meilleur choix.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-6 col-xl-6">
                  <div class="d-flex">
                    <div>
                      <i
                        class="bi bi-bookmark-heart-fill fa-3x text-primary"
                      ></i>
                    </div>
                    <div class="ms-4">
                      <h4>Années d'expérience</h4>
                      <p>SIPEL existe maintenant depuis plus de 35 ans.</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <a
                    href="#"
                    class="btn btn-primary rounded-pill py-3 px-5 flex-shrink-0"
                    >En savoir plus ?</a
                  >
                </div>
                <div class="col-sm-6">
                  <div class="d-flex">
                    <i class="fas fa-phone-alt fa-2x text-primary me-4"></i>
                    <div>
                      <h4>Nous joindre</h4>
                      <p class="mb-0 fs-5" style="letter-spacing: 1px">
                        +225 07 68 15 82 26
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-5 wow fadeInRight" data-wow-delay="0.2s">
            <div class="bg-primary rounded position-relative overflow-hidden">
              <img
                src="{% static 'main/images/image_test.jpg' %}"
                class="img-fluid rounded w-100"
                alt=""
              />

              <div
                class=""
                style="position: absolute; top: -15px; right: -15px"
              >
                <img
                  src="{% static 'main/images/image_test2.webp' %}"
                  class="img-fluid"
                  style="width: 150px; height: 150px; opacity: 0.7"
                  alt=""
                />
              </div>
              <div
                class=""
                style="
                  position: absolute;
                  top: -20px;
                  left: 10px;
                  transform: rotate(90deg);
                "
              >
                <img
                  src="{% static 'main/images/image_test.jpg' %}"
                  class="img-fluid"
                  style="width: 100px; height: 150px; opacity: 0.9"
                  alt=""
                />
              </div>
              <div class="rounded-bottom">
                <img
                  src="{% static 'main/images/image_test.jpg' %}"
                  class="img-fluid rounded-bottom w-100"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->

    <!-- Début section nos services -->

    <h1 class="text_titre">Nos services</h1>
    <section class="services">
      <div class="services-elem">
        <img src="{% static 'main/images/ELECTRICITE.jpg' %}" alt="" />
        <h4>Acheter un bien</h4>
        <p>Des états des lieux et des suivis</p>
        <p>travaux professionnels</p>

        <button
          type="button"
          class="btn btn-primary center"
          data-bs-toggle="modal"
          data-bs-target="#electricite"
        >
          En savoir +
        </button>
      </div>
      <div class="services-elem">
        <img src="{% static 'main/images/PLOMBERIE.jpg' %}" alt="" />
        <h4>Louer un bien</h4>
        <p>Une gestion rigoureuse des</p>
        <p>dossiers locataires</p>
        <button
          type="button"
          class="btn btn-primary center"
          data-bs-toggle="modal"
          data-bs-target="#plomberie"
        >
          En savoir +
        </button>
      </div>
      <div class="services-elem">
        <img src="{% static 'main/images/PROTECTION-INCENDIE.jpg' %}" alt="" />
        <h4>Vendre un bien</h4>
        <p>Des conseils et estimations</p>
        <p>professionnalisées</p>
        <button
          type="button"
          class="btn btn-primary center"
          data-bs-toggle="modal"
          data-bs-target="#incendie"
        >
          En savoir +
        </button>
      </div>
      <div class="services-elem">
        <img src="{% static 'main/images/SOLUTION-DURABLE.jpg' %}" alt="" />
        <h4>Appartements et bâtiments</h4>
        <p>Une large gamme</p>
        <p>d'appartements de qualités</p>
        <button
          type="button"
          class="btn btn-primary center"
          data-bs-toggle="modal"
          data-bs-target="#durable"
        >
          En savoir +
        </button>
      </div>
    </section>

    <!--################################################################-->
    <!--Modal classes foreach sections up -->
    <div id="electricite" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Electricité</h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>Mots de description</p>
            <img
              style="width: 99%; height: 150px"
              src="{% static 'main/images/ELECTRICITE.jpg' %}"
              alt=""
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              En savoir -
            </button>
          </div>
        </div>
      </div>
    </div>
    <div id="plomberie" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Plomberie</h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>Mots de description</p>
            <img
              style="width: 99%; height: 150px"
              src="{% static 'main/images/PLOMBERIE.jpg' %}"
              alt=""
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              En savoir -
            </button>
          </div>
        </div>
      </div>
    </div>

    <div id="incendie" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Protection Incendie</h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>Mots de description</p>
            <img
              style="width: 99%; height: 150px"
              src="{% static 'main/images/PROTECTION-INCENDIE.jpg' %}"
              alt=""
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              En savoir -
            </button>
          </div>
        </div>
      </div>
    </div>
    {% comment %} {% endcomment %}
    <div id="durable" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Solution Durable</h2>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p>Mots de description</p>
            <img
              style="width: 99%; height: 150px"
              src="{% static 'main/images/SOLUTION-DURABLE.jpg' %}"
              alt=""
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              En savoir -
            </button>
          </div>
        </div>
      </div>
    </div>

    <!--Fin nos services-->

    <br />
    <!--Début Charte-->
    <h1 class="text_titre">Charte</h1>

    <!--Fin Charte-->

    <!--Début réalisation-->
    <h1 class="text_titre">Nos Réalisations</h1>
    <!-- section destination -->
    <section id="realisations">
      <div class="content">
        <!-- box -->
        <div class="box">
          <img
            src="{% static 'main/images/PROTECTION-INCENDIE.jpg' %}"
            alt=""
          />
          <div class="content">
            <div>
              <h4>Informations pratiques</h4>
              <p>pour les visiteurs :</p>
              <p>
                comment se rendre à Sassandra, où se loger, où manger, où
                acheter des souvenirs.
              </p>
              <a href="#">Lire Plus</a>
            </div>
          </div>
        </div>
        <!-- box -->
        <!-- box -->
        <div class="box">
          <img
            src="{% static 'main/images/PROTECTION-INCENDIE.jpg' %}"
            alt=""
          />
          <div class="content">
            <div>
              <h4>Histoire et patrimoine de Sassandra</h4>
              <p>avec des descriptions de bâtiments historiques,</p>
              <p>de monuments et de sites naturels importants.</p>
              <a href="#">Lire Plus</a>
            </div>
          </div>
        </div>
        <!-- box -->
        <!-- box -->
        <div class="box">
          <img
            src="{% static 'main/images/PROTECTION-INCENDIE.jpg' %}"
            alt=""
          />
          <div class="content">
            <div>
              <h4>
                Manifestations culturelles et artistiques organisées à Sassandra
              </h4>
              <p>notamment des festivals de musique,</p>
              <p>de danse, de théâtre, etc.</p>
              <a href="#">Lire Plus</a>
            </div>
          </div>
        </div>
        <!-- box -->
        <!-- box -->
        <div class="box">
          <img
            src="{% static 'main/images/PROTECTION-INCENDIE.jpg' %}"
            alt=""
          />
          <div class="content">
            <div>
              <h4>Activités et loisirs que vous pouvez pratiquer</h4>
              <p>comme la baignade, la pêche,</p>
              <p>la randonnée, etc.</p>
              <a href="#">Lire Plus</a>
            </div>
          </div>
        </div>
        <!-- box -->
        <!-- box -->
        <div class="box">
          <img
            src="{% static 'main/images/PROTECTION-INCENDIE.jpg' %}"
            alt=""
          />
          <div class="content">
            <div>
              <h4>Gastronomie</h4>
              <p>Descriptions des produits locaux, de la gastronomie</p>
              <p>et des spécialités culinaires de Sassandra et des environs.</p>
              <a href="#">Lire Plus</a>
            </div>
          </div>
        </div>
        <!-- box -->
        <!-- box -->
        <div class="box">
          <img
            src="{% static 'main/images/PROTECTION-INCENDIE.jpg' %}"
            alt=""
          />
          <div class="content">
            <div>
              <h4>projets de développement et les initiatives locales</h4>
              <p>notamment en matière d'environnement, d'agriculture,</p>
              <p>de commerce, etc.</p>
              <a href="#">Lire Plus</a>
            </div>
          </div>
        </div>
        <!-- box -->
      </div>
    </section>

    <!--Fin réalisation-->

    <!--Début footer-->
    <footer>Pied de page</footer>
    <!--Fin footer-->
    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'main/lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'main/lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'main/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'main/lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'main/lib/lightbox/js/lightbox.min.js' %}"></script>
    <script src="{% static 'main/lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'main/scripts.js' %}"></script>
  </body>
</html>
